  /* Searchbox.module.css */

.searchbox {
  display: flex;
  position: relative;
}

.searchicon {
  position: absolute;
  top: 10px;
  left: 15px; /* Adjusted left position to align with input padding */
  z-index: 1;
}

.searchbox .input {
  padding: 10px 40px; /* Padding on the left side to make space for the icon */
  border: 1px solid #DCDCDC;
  background: #FFF;
  position: relative;
  font-size: 14px;
  width: 100%;
}

.searchbox .input::placeholder{
  font-size: 12px;
  color: black;
  font-weight: 400;
}

/* For the rectangle style */
.rectangle {
  border-radius: 6px;
  width: 331px;
}

/* For the round style */
.round {
  border-radius: 30px;
  width: 331px;
}
