.container {
  padding: 20px 24px;
  background-color: #ffffff;
  max-width: 100%;
}

.formContainer {
  background-color: #ffffff;
  margin-top: 20px;
}

.bottomActions {
  display: flex;
  justify-content: center;
  padding: 32px 0 20px 0;
}
