.container{
  border-radius:6px;
  padding:22px;
  background-color: #FFFFFF;
}
.overviewContainer{
  background-color: #F8F8F8;
  border-radius: 12px ;
  padding:15px;
}

.bottomActions {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 50px;
  /* padding: 20px 0; */

}