.wrapper {
  margin-top: 25px;
  padding: 0 50px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxInput {
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}
.checkboxRow {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  cursor: pointer;
  color:#667085;
}

.concessionValueBox {
  text-align: center;
 
}

.concessionValue {
  font-size: 24px;
  font-weight: 600;
}

.concessionLabel {
  margin: 0;
  margin-top: 1px;
  font-size: 12px;
  color: #667085;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 22px;
  margin-bottom: 18px;
}
